[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
colorama = "*"
termcolor = "*"
beautifulsoup4 = "*"
lxml = "*"
cassandra-driver = "*"
lz4 = "*"
requests-toolbelt = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.11"
